@model IEnumerable<ProyectoRH_Pertec.Models.Tpuestofecha>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Página en desarrollo</h1>
<h1>Fuera de funcionamiento</h1>

